<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About COVID-19</title>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/about.css')}}">
	</head>
	<body>
		<header class='header'>
			<div class="header_links">
				<p><a href="/" class="header__link">Covid Statistic</a></p>
				<p><a href="/about" class="header__link">About COVID-19</a></p>
				<p><a href="/what" class="header__link">What to do?</a></p>
				<p><a href="/vac" class="header__link">Vaccination</a></p>
				<p><a href="/admin" class="header__link">Admin</a></p>
				<p>Unified hotline<br>(8-8212)255-455</p>
			</div>
			<div class="box__shadow"></div>
		</header>

		<h1 class="title"><b>All about COVID-19</b></h1>
		<h1 class="title"><b>Symptoms of<br>coronavirus</b></h1>
		<p class="txt">In the vast majority of cases, these symptoms are not<br>associated with the coronavirus, but with the usual SARS.</p>
		<h2 class="subtitle">The main symptoms of coronavirus</h2>

		<div class="images">
			<div class="i1">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp1.svg">
				<p>high temperature</p>
			</div>
			<div class="i2">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp2.svg">
				<p>cough</p>
			</div>
			<div class="i3">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp12.svg">
				<p>impaired or lost sense of smell</p>
			</div>
				<div class="i4">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp13.svg">
			<p>loss of taste</p>
			</div>
			<div class="i5">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp9.svg">
				<p>muscle pain</p>
			</div>
		</div>

		<h2 class="subtitle">Rare symptoms of coronavirus</h2>

		<div class="images2">
			<div class="i6">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp5.svg">
				<p>headache</p>
			</div>
			<div class="i7">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp10.svg">
				<p>chest congestion</p>
			</div>
			<div class="i8">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp6.svg">
				<p>hemoptysis</p>
			</div>
			<div class="i9">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp7.svg">
				<p>diarrhea</p>
			</div>
			<div class="i10">
				<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/symp8.svg">
				<p>nausea</p>
			</div>
		</div>

		<div class="bottom">
			<hr>
			<p>Symptoms may occur within 14 days after contact with an infectious patient,<br> the symptoms are similar in many ways to many respiratory diseases, <br> often mimic the common cold, can resemble the flu.</p>
		</div>
		
		<footer class="footer">
            <p class="footer__text">COVID-19 Page info&copy;2021<p>
        </footer>
	</body>
</html>