<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/vac.css')}}">
	
</head>
<body>
	<header class='header'>
        <div class="header_links">
            <p><a href="/" class="header__link">Covid Statistic</a></p>
			<p><a href="/about" class="header__link">About COVID-19</a></p>
			<p><a href="/what" class="header__link">What to do?</a></p>
			<p><a href="/vac" class="header__link">Vaccination</a></p>
			<p><a href="/admin" class="header__link">Admin</a></p>
			<p>Unified hotline<br>(8-8212)255-455</p>
		</div>
		<div class="box__shadow"></div>
    </header>
	<div class="cim">
	<p style="margin-left: 10px; color: #2DA5FA; font-weight: 900; font-size: 60px; line-height: 1; width: 550px; flex-shrink: 0;">All about COVID-19 <br>vaccination</p>
	<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/vaccine-banner.svg">
	</div>

	<h2 class="head1"><b>The process of vacciantion</b></h2>

	<p style="padding-left: 20px; padding-top: 30px; font-size: 19px">The vaccine is a two-component, it is injected into the human body twice. The second vaccination is<br> done three weeks after the first. The drug is administered intramuscularly, in a dose of 0.5 ml.<br>
	After the procedure, the patient must remain under medical supervision for at least 30 minutes to report on<br> their condition, and then keep a self-observation diary.<br>
	It is important that before vaccination, the patient is examined for the presence of contraindications to vaccination. <br>A mandatory medical examination is carried out. He will tell you about possible reactions and help you fill out<br> an informational voluntary consent for vaccination.<br>
	Immunization will take place in three stages. First of all, the vaccine will be given to those people<br> who are at risk of covid infection (doctors working in the " red " zone, PCR laboratories, emergency rooms, in the ambulance,<br> teachers, volunteers, MFC employees, social workers).<br>
	At the second stage, people suffering from chronic diseases, heart disease, diseases of the gastrointestinal tract,<br> and patients who are under constant dispensary supervision will receive the vaccination.
	<br>The third stage includes vaccination of emergency workers, law enforcement officers, and ordinary citizens.</p>

	<h2 class="head2"><b>Who can be vaccinated?</b></h2>
	<p style="padding-left: 20px; padding-top: 30px; font-size: 19px">Patients with coronavirus can be immunized no earlier than 6 months after recovery.
	If a person has beaten<br> the coronavirus in the last six months, their body is checked for the amount of antibodies.<br> If the indicator is below ten, the patient can be vaccinated. <br>Above ten is a sufficient number of antibodies to defeat the coronavirus when re-infected.
	<br>The instructions for vaccination do not contain the need for testing for coronavirus before immunization.</p>

	<div class="bottom">
		<hr>
		<p>Stay Safe!</p>
	</div>
	<footer class="footer">
		<p class="footer__text">COVID-19 Page info&copy;2021</p>
	</footer>
</body>
</html>