<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to do?</title>

	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/what.css')}}">

</head>
<body>
	<header class='header'>
        <div class="header_links">
            <p><a href="/" class="header__link">Covid Statistic</a></p>
			<p><a href="/about" class="header__link">About COVID-19</a></p>
			<p><a href="/what" class="header__link">What to do?</a></p>
			<p><a href="/vac" class="header__link">Vaccination</a></p>
			<p><a href="/admin" class="header__link">Admin</a></p>
			<p>Unified hotline<br>(8-8212)255-455</p>
		</div>
		<div class="box__shadow"></div>
    </header>
	<h1 class="title"><b>What to do?</b></h1>
	<p style="color: #2DA5FA; font-size: 30px; font-weight: 700; padding-top: 30px; padding-left: 20px;">Follow the rules of hygiene</p>
	<p style="padding-top: 30px; padding-left: 20px; font-size: 20px"><strong>To protect yourself from infection, first of all, you should<br>follow the rules of personal hygiene.</strong></p>

	<ul class="list">
		<li>Keep your hands clean-wash them frequently with soap and water for at least 20 seconds,<br> then wipe them dry 	with a disposable paper towel. It is highly advisable to carry antiseptic wipes or liquid products<br> (gels, sprays, etc.). So you can always keep your hands clean, even if you can't wash them.</li>
		<li>Try not to touch your mouth, nose, or eyes with unwashed hands (usually, we do this unconsciously on<br> average 15 times an hour).</li>
		<li>Use the mask when visiting public places and if you use public transport. Remember,<br> the mask must be changed every two to three hours!</li>
		<li>Regularly clean and disinfect surfaces and devices that you touch (computer or<br> laptop keyboard, smartphone screen, remote controls, switches, and door handles).<br> To fight viruses, it is best to use wipes and alcohol-based gels.</li>
		<li>Carry disposable wipes with you and always cover your nose and mouth when you cough or sneeze. After use,<br> they should be disposed of immediately.</li>
		<li>Do not eat food (nuts, chips, cookies, and other snacks) from shared packages or dishes if other<br> people have dipped their fingers<br> in them.</li>
		<li>Often ventilate the premises, regularly do a wet cleaning.</li>
		<li>Greet each other without touching. Give preference to a gesture or wave your hand instead of a handshake.</li>
		<li>Process the products you bring from the store. Vegetables and fruits should be washed, and goods in packages<br> should be washed with soap and water, or treated with antibacterial wipes.</li>
	</ul>

	<p style="color: #2DA5FA; font-size: 30px; font-weight: 700; padding-top: 30px; padding-left: 20px;">Stay at home</p>

	<div class="cim">
		<ul class="list2">
			<li style="padding-right: 170px;">Leave the house only for the most urgent matters – to the nearest store or pharmacy, <br>to take out garbage or to walk pets.</li>
			<li>Try to limit your personal contacts as much as possible, <br>and use the services of product delivery services if possible.</li>
			<li>Communicate with your family, friends, and <br>loved ones by phone or other means of communication.</li>
			<li>If you need to move around the city, use a private car or taxi.</li>
			<li>If you feel worse, do not self-medicate, call a doctor.</li>
		</ul>
		<img src="https://dalee.cdnvideo.ru/stopcoronavirus.rf/img/content/steps.svg">
	</div>
	<footer class="footer">
		<p class="footer__text">COVID-19 Page info&copy;2021</p>
	</footer>
</body>
</html>